.container-register-product{
    
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px auto 0;
        height: 100%;
        
        width: 20rem;
        border-radius: 10px;
        

        h2{
            font-size: 32px;
            color: var(--wine-red);
            text-transform: capitalize;
            margin: 25px auto 5px;
        }
        .border-bottom-text{
        display: flex;
        justify-content: start;
        border: 2px solid var(--wine-red);
        width: 80px;
        height: 0px;
        margin: 0 auto 30px;
        border-radius: 15px;
    }

        .image-product{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: #000;
            width: 100%;
            padding: 5px;
            }

        .register{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;
            padding: 10px 0;

        .category-select{
            width: 15rem;
            height: 2rem;
            font-size: 16px;
            border-radius: 5px;
            background-color: #f7f7f7;
            border: 1px solid var(--grey);
            outline: none;
            text-transform: capitalize;
            cursor: pointer;
        }

            label{
                width: 100%;
                color: var(--mattle-black);
                font-weight: 700;
            }

            input{
                width: 15rem;
                height: 2rem;
                font-size: 16px;
                display: flex;
                align-items: center;
                padding: 0 5px;
                border-radius: 5px;
                border: 1px solid var(--grey);
                outline: none;
            }

            input[type='file']{
                height: 20px;
                width: 100%;
                padding: 0;
            }

            textarea{
                width: 15rem;
                height: 14rem;
                font-size: 16px;
                display: flex;
                align-items: center;
                padding: 5px;
                border-radius: 5px;
                font-weight: 500;
                background-color:#fff;
                border: 1px solid var(--grey);
                outline: none;

            }

            .label-image{
                cursor: pointer;
                border: 2px solid var(--grey);
                border-radius: 5px;
                width: 100%;
                height: 2rem;
                background-color: var(--white-ice);
                color: var(--mattle-black);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s;
                &:hover{
                    background-color: #e9e9e9;
                    border: 2px solid #636363;
                }
            }


        }

        button{
        padding: 10px 30px;
        font-size: 16px;

        background-color: var(--primary);
        color: var(--white-ice);
        font-weight: 600;
        border: 2px solid var(--mattle-black);
        border-radius: 5px;
        cursor: pointer;
            &:hover{
                background-color: #a00606;
            }
        }
    }
}