button{
        padding: 10px 30px;
        font-size: 16px;

        background-color: var(--primary);
        color: var(--white-ice);
        font-weight: 600;
        border: 2px solid var(--mattle-black);
        border-radius: 5px;
        cursor: pointer;
            &:hover{
                background-color: #a00606;
            }
        }