<app-navbar />

<section class="product-details-container" *ngIf="product">
  <section class="product-details">
    <img
      class="img-product-details-blur"
      [src]="'http://127.0.0.1:8000/storage/' + product.data.image"
      alt=""
    />
    <img
      class="img-product-details"
      [src]="'http://127.0.0.1:8000/storage/' + product.data.image"
      alt=""
    />
    <div class="details">
      <h2 class="name">{{ product.data.name }}</h2>

      <span class="category">
        <img class="img-category" src="assets/icons/capsule.svg" alt="" />
        {{ product.data.category }}
      </span>
      <span class="price">
        <img src="assets/icons/tags.svg" alt="" />
        R$: {{ product.data.price }}
      </span>
      <span class="price-discount">
        Ou 3x de R$:{{ product.data.price / 3 | currency: 'BRL' : 'symbol' : '1.2-2' }}
      </span>

      <div class="btn-action">
        <button *ngIf="product" (click)="addCart(product.data.id)" class="btn-add-cart">
          <img src="assets/icons/cart.svg" alt="" />Adicionar
        </button>
      </div>
    </div>
  </section>

  <section class="product-description">
    <div class="description">
      <h2>Descrição</h2>
      <span class="border-bottom-text"></span>
      <p>{{ product.data.description }}</p>
    </div>
  </section>

  <app-guarantees />
</section>
