.product-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50%;
    max-width: 80vw;
    margin: 5rem auto 0;

    .product-details{
        display: flex;
        gap: 5rem;
        max-width: 100%;
        height: 18rem;
           

        .img-product-details-blur{
            position:absolute;
            z-index: -1;

            width: 5 0%;
            max-width: 80vw;
            height:30vh;

            background-size:cover;
            background-position:center;

            filter:blur(20px);
            transform:scale(1.5);

            opacity:0.5;
        }
        .img-product-details{
            position: relative;
            width: 100%;
            object-fit: contain;
            height: auto;
            border-radius: 10px;
            max-height: 60vh;
            
        }

        .details{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 0.5rem;
        

            .name{
                color: var(--mattle-black);
                font-size: 36px;
                font-weight: 700;
                margin: 0;
            }

            .category{
                text-transform: capitalize;
                color: var(--green-forest);
                font-size: 25px;
                font-weight: 600;
                margin: 0 0 15px;
                .img-category{
                    width: 18px;
                    height: auto;
                }
            }

            .price{
                color: var(--wine-red);
                font-size: 25px;
                font-weight: 700;
                margin: 0;
            }

            .price-discount{
                margin-bottom: 35px;
                color: var(--mattle-black);
                font-weight: 500;
                font-family: Arial, Helvetica, sans-serif;
            }

            .btn-action{
                display: flex;
                .btn-add-cart{
                    display: flex;
                    gap: 10px;
                    padding: 10px 40px;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 21px;
                    color: var(--white-ice);
                    background: linear-gradient(90deg, var(--primary), var(--wine-red));
                    border: 1px solid var(--wine-red);
                    cursor: pointer;
                    transition: ease-in-out 0.4s;

                    &:hover{
                        transform: translateY(-2px);
                    }
                }
            }
            
        }
    }


    .product-description{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 30px auto 0;
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 15px;

        .description{
            width: 100%;
            margin: 0 auto;
            
            h2{
                color: var(--wine-red);
                font-weight: 700;
                font-size: 26px;
                padding: 5px;
                margin: 20px 0 0;   
            }
            .border-bottom-text{
                border: 2px solid var(--wine-red);
                width: 80px;
                height: 0px;
                display: flex;
            }
        }
        
    }

    .guarantees{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
            justify-content: space-around;
            text-align: center;
            align-items: center;
            background-color: rgb(255, 243, 242);
            padding: 30px 5px;
            border-radius: 10px;
            margin-top: 1rem;
            .card{
                display: flex;
                align-items: center;
                padding: 0 5px;
                width: 200px;

                img{
                    width: 30px;
                    padding: 10px;
                }
                p{
                    margin: 0;
                    font-weight: 600;
                }
            }
        }
        
}