<header class="header-container">
  <nav class="nav">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="logo" />
        <p class="title"><span>Farma</span> Eagle</p>
      </a>
    </div>
    <section class="section-header">
      <div class="search-bar">
        <label for="product">
          <img src="assets/icons/search.svg" alt="search" />
        </label>
        <input
          type="text"
          name="product"
          id="product"
          placeholder="Pesquisar pelo produto..."
          [(ngModel)]="search"
          (input)="searchText()"
        />
      </div>
      <div class="functions-header">
        <a
          routerLink="/home"
          routerLinkActive="active-Link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
        <a routerLink="/cart" routerLinkActive="active-Link"> Carrinho </a>
        <a routerLink="/product/new" routerLinkActive="active-Link"> Cadastrar produtos </a>
        <a routerLink="/products" routerLinkActive="active-Link"> Lista de produtos </a>
      </div>
    </section>
  </nav>
</header>
