<div class="carousel">
  <div class="carousel-track" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <div class="slide" *ngFor="let image of images">
      <div class="slide-bg" [style.background-image]="'url(' + image + ')'"></div>
      <img class="slide-img" [src]="image" alt="Banner" />
    </div>
  </div>

  <button class="prev" (click)="prev()">❮</button>
  <button class="next" (click)="next()">❯</button>

  <div class="dots">
    <span
      *ngFor="let image of images; let i = index"
      (click)="goTo(i)"
      [class.active]="i === currentIndex"
    ></span>
  </div>
</div>
