<app-navbar (eventText)="filterProduct($event)" />
<main class="home-container">
  <app-product-card
    *ngFor="let product of products"
    (add)="addCart(product.id)"
    (details)="goToDetails(product.id)"
  />

  <div class="buttons-next-prev-container">
    <button class="btn back-page" [routerLink]="['/']" [queryParams]="{ page: currentPage - 1 }">
      <img src="assets/icons/arrow.svg" alt="" />
      Voltar
    </button>
    <button class="btn next-page" [routerLink]="['/']" [queryParams]="{ page: currentPage + 1 }">
      Avançar
      <img src="assets/icons/arrow.svg" alt="" />
    </button>
  </div>
</main>

<!-- *ngIf="currentPage >= lastPage" -->
<!-- *ngIf="currentPage < lastPage" -->
