<app-navbar (eventText)="filterProduct($event)" />
<main class="home-container">
  <section *ngIf="loading" class="load-container">
    <div class="loader"></div>
    <p class="loading-text">Carregando Produtos</p>
  </section>
  <section class="home-card-product">
    <app-product-card
      class="product-card"
      *ngFor="let product of product"
      [product]="product"
      (add)="addCart(product.id)"
    />
  </section>

  <div *ngIf="!loading" class="pagination-container">
    <button
      [disabled]="currentPage === 1"
      class="btn back-page"
      [routerLink]="['/']"
      [queryParams]="{ page: currentPage - 1 }"
    >
      <img src="assets/icons/arrow.svg" alt="" />
      Anterior
    </button>

    <button
      class="pagination-number"
      [class.active]="page == currentPage"
      *ngFor="let page of pages"
      (click)="goToPage(page)"
    >
      {{ page }}
    </button>

    <button
      [disabled]="currentPage === lastPage"
      class="btn next-page"
      [routerLink]="['/']"
      [queryParams]="{ page: currentPage + 1 }"
    >
      Proxímo
      <img src="assets/icons/arrow.svg" alt="" />
    </button>
  </div>
</main>
