<app-navbar />
<div class="your-cart">
  <h2>Seu Carrinho de Compras</h2>
</div>
<main class="container-cart">
  <section class="product-cart-container">
    <p *ngIf="cartProducts.length === 0">Não Há itens no carrinho</p>

    <section class="product-cart" *ngFor="let product of cartProducts">
      <div class="container-image">
        <img
          class="image-product-cart-blur"
          [src]="'http://127.0.0.1:8000/storage/' + product.product.image"
        />
        <img
          class="image-product-cart"
          [src]="'http://127.0.0.1:8000/storage/' + product.product.image"
        />
      </div>

      <div class="details-product-cart">
        <section class="section-product">
          <div class="name-category-product">
            <p class="name-product-cart">{{ product.product.name }}</p>
            <p class="category-product-cart">{{ product.product.category }}</p>
          </div>
          <p class="price-product">Preço: {{ product.product.price }}</p>
        </section>

        <section class="section-product-handling">
          <div class="quantity-cart-product">
            <p class="quantity-product-cart">
              <button (click)="updateCart(product.id, 'decrement')" class="add-product-cart">
                -
              </button>
              {{ product.quantity }}
              <button (click)="updateCart(product.id, 'increment')" class="subtract-product-cart">
                +
              </button>
            </p>
          </div>

          <div class="total-product">
            <p class="price-product-cart">
              R$: {{ +product.product.price * product.quantity | number: '1.2-2' }}
            </p>
            <button class="remove-product-cart" (click)="removeCart(product.id)">
              <img src="assets/icons/trash.svg" alt="" />
            </button>
          </div>
        </section>
      </div>
    </section>
  </section>

  <section class="section-final-cart">
    <h3 class="title-summary">Resumo do Pedido</h3>
    <div *ngIf="cartProducts.length > 0" class="total-price">
      <h3>Total:</h3>
      <p class="price">R$: {{ totalCart() | number: '1.2-2' }}</p>
    </div>
    <div class="btn-actions">
      <button routerLink="/" class="continue-shopping">Continuar Comprando</button>
      <button class="finalize-purchase">Finalizar Compra</button>
    </div>
  </section>
</main>
