.your-cart{
        border-bottom: 1px solid #ddd;
        width: 100%;
        
        h2{
            color: #690f1e;
            font-size: 34px;
            font-weight: 600;
            text-align: center;
        }
    }
.container-cart{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 80vw;
    gap: 50px;
    margin-top: 10px;

    .product-cart-container{

        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #fff;
        width: 40vw;
        min-width: 40vw;
        height: 75vh;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 5px;
        gap: 15px;

        &::-webkit-scrollbar{
            width: 6px;
        }
        &::-webkit-scrollbar-thumb{
            background: rgba(0, 0, 0, 0.13);
            backdrop-filter: blur(10px);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(0,0,0,0.45);
        }

        .no-products{
            text-align: center;
            font-size: 21px;
            text-transform: capitalize;
        }
        .product-cart{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        min-width: 85%;
        gap: 10px;
        border: 1px solid #ddd;
        padding: 25px 30px;
        border-radius: 25px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: 0.3s ease-in-out;

        &:hover{
            transform: translateY(-5px);
        }
        .container-image{
            position: relative;
            width: 180px;
            height: 120px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .image-product-cart-blur{
                  position:absolute;

                    width:100%;
                    height:100%;

                    background-size:cover;
                    background-position:center;
                    border-radius: 25px;

                    filter:blur(10px);
                    transform:scale(1.3);

                    opacity:0.5;
            }
            .image-product-cart{
                position: relative;
                width: 95%;
                object-fit: contain;
                height: auto;
                border-radius: 15px;
            }
        }
        .details-product-cart{       
            display: flex;     
            .section-product{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: capitalize;
                .name-category-product{
                    .name-product-cart{
                        font-size: 18px;
                        font-weight: 700;
                        margin-top: 0;
                        margin-bottom: 10px;
                    }
                    .category-product-cart{
                        font-size: 16px;
                        font-weight: 300;
                        margin:0;
                        
                    }
                }
                
                .price-product{
                    font-size: 16px;
                    font-weight: 600;
                    margin:0;
                    color: var(--green-forest);
                }
            }
            
            .section-product-handling{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .quantity-cart-product{

                    .quantity-product-cart{
                        margin: 0;
                        border: 1px solid #ddd;
                        border-radius: 11px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        .add-product-cart, .subtract-product-cart{
                            width: 30px;
                            height: 30px;
                            border: 1px solid #ddd;
                            background-color: #f1f1f1;
                            font-size: 20px;
                            transition: ease-in-out 0.2s;
                            &:hover{
                                background-color: #b8b8b8;
                            }
                        }
                        .add-product-cart{
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                            cursor: pointer;
                        }
                        .subtract-product-cart{
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            cursor: pointer;
                        }
                    }
                }
                .total-product{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .price-product-cart{
                        font-size: 18px;
                        font-weight: 700;
                        color: #047900;
                    }
                    .remove-product-cart{
                        display: flex;
                        align-items: center;
                        border: 1px solid #690f1e;
                        background: linear-gradient(#690f1e, #98202d);
                        border-radius: 5px;
                        padding: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
        }
    }
        .details-product-cart{
            display: flex;
            flex-direction: column;
            width: 100%;
            .section-product-handling{
                display: flex;
                justify-content: space-between;
                width: 100%;
                .quatity-cart-product{
                width: 100%;
                display: flex;
                }

                .total-product{
                    display: flex;
                    gap: 10px;
                }
            }
        }

    .section-final-cart{ 
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 10px 15px;
        flex: 1;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #ddd;

        .title-summary{
            font-size: 26px;
            text-align: center;
            border-bottom: 1px solid #ddd;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .total-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            gap: 20px;
            .price{
                color: #047900;
                font-weight: 100;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .btn-actions{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            
            .continue-shopping{
                flex: 1;
                border-radius: 10px;
                background: linear-gradient(#690f1e, #98202d);
                color: var(--white-ice);
                font-size: 14px;
                font-weight: 600;
                border: 1px solid var(--wine-red);
                padding: 5px 8px;
                cursor: pointer;
            }
            .finalize-purchase{
                flex: 1;
                border-radius: 10px;
                color: var(--white-ice);
                font-size: 14px;
                background: linear-gradient(#fdcf00, #e98c00);
                border: 1px solid #e98c00;
                font-weight: 600;
                padding: 5px 8px;
                cursor: pointer;
            }
        }
    }
}
