main{
    .background-image{
        img{
            width: 100%;
            height: 60vh;
            background-position: center;
            object-fit: cover
            
        }
        h1{
            position: absolute;
            top: 15rem;
            left: calc(50%);
            transform: translateX(-50%);
            color: var(--white-ice);
            font-size: 52px;
            font-weight: 400;
            background-color: rgba(105,4,4,0.6);
            padding: 10px 25px;
            border-radius: 10px;
        }

        
    }
    .text-about-us{
            width: 80vw;
            margin: 0 auto;
            text-align: justify;
        }
}