.header-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: var(--primary);
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
        width: 80vw;
        margin: 0 auto;
        .logo{
            display: flex;
            flex-direction: row;
            width: 15rem;
            height: 50px;
            justify-content: center;

            a{
                display: flex;
            width: 100%;
            height: 50px;
            align-items: center;
                height: 50px;
                img{
            width: 45px;
            height: 45px;
            cursor: pointer;
        }
        color: var(--white-ice);
            }
        

    }

    .section-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        .search-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        font-size: 19px;

        label{
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            left: 30px;
        }

        input{
            background-color: rgba($color: #fff, $alpha: 0.2);
            border: none;
            border-bottom: 1px solid var(--white-ice);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            outline: none;
            color: var(--white-ice);
            cursor: initial;
            width: 70%;
            height: 1.5rem;
            padding: 0 35px;
            font-size: 17px;
            text-space: 15px;

            &:active{
                animation: expandField 1s;
            }
        }
    }

        .functions-header{
            display: flex;
            gap: 20px;
            a{
                color: var(--white-ice);
                cursor: pointer;
            }
            a:hover{
                text-decoration: underline;
                color: #fff;
            }
        }
    }

    }

    
    
}

@keyframes expandField1 {
    0%{
        width: 70%;
    }

    100%{
        width: 100%;
    }
}