.load-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        gap: 10px;
        animation: fadeIn 1s ease;

        .loader{
            width:60px;
            height:60px;
            border-radius:50%;
            border:5px solid #eee;
            border-top:5px solid #4d0707;
            border-right:5px solid #b31212;
            border-bottom:5px solid #ff6a6a;
            animation:spin 1s linear infinite;
        }

        .loading-text{
            font-weight: 500;
        }
}

@keyframes spin{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(10px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}