:root{
    --primary: #690404;
    --secondary: #e71c1c;
    --tertiary: #ffb31b;
    --white-ice: #f6f6f6;
    --mattle-black: #28282b;
    --grey: #dcdfe7;

}


html, body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif
}

a{
    text-decoration: none;
}